.el-card{
    margin: 20px 0;
    &:hover{
        box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    }
    .el-card__header {
      padding: 16px 20px 12px 20px;
      border-bottom-width: 2px;
    }
  }

.el-message-box {
  @media only screen and (max-width: 450px) {
    width: auto;
    min-width: 100px;
  }
}