@import './custom-element.scss';

html {
    height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh !important;
    min-width: 359px;
}

.footer {
    opacity: 0.7;
    padding: 10px 0;
}

.student-in-room-from {
    margin: 4px 0;
    .el-form-item {
        margin-bottom: 0;
    }
}

.wrapper {
    width: 90vw;
    @media only screen and (min-width: 900px) {
        width: 800px;
    }
}